*{ padding:0px;
   margin:0px;
}

/* nav bar codding start */

nav { 
      align-items: center;
      background-color:#452169;
      justify-content: space-between;
      border-bottom:2px solid 5a387c;}

.prent-nav {padding:0px 30px;
            justify-content: space-between;
            display: flex;
            align-items: center; }  

 .navbar-logo h4{ color:blue;
                 font-size:20px;
                 letter-spacing:3px;}   
                 
.navbar-logo > h4 > span{ color:red;}                

.prent-nav > ul { display:flex;}         
            
.prent-nav > ul > li { list-style-type: none;
                       margin:7px 3px;
                       border-radius:3px;  
                       transition:0.5s;
                       padding:3px 5px;}           

.prent-nav > ul > li > a {text-decoration: none;
                          color:white;
                          font-weight:bold;}

.prent-nav > ul > li:hover{ 
                            background-color:#fddddc;

                            } 
.prent-nav > ul > li a:hover{ color:#ff4842; }                            


                            
   /* hero area codding started     */

.hero-area { background-image: url(./photo/website\ banner.jpg);
                                   height: 260px;
                                   background-size: cover;
                                   background-repeat: no-repeat;
                                   } 
                                   
.hero-area-prent{ display:flex;
                  padding-top:105px;
                  justify-content: center;} 
                  
.hero-area-prent > input { width:240px;
                           padding:0px 4px;
                           border: none;
                           height:25px;}  
                           
.search-icon i{   font-size: 17px;
                  display: flex;
                  background-color: green;
                  padding: 5px;
                  color: red;
                  margin-left: -1px;
             }                           
                  
                  
